* .para {
  font-weight: 600;
  color: brown;
  font-style: italic;
}
.newClass {
  background-color: bisque;
  text-decoration: line-through;
}
*/ #div_area {
  height: 100px;
  width: 120px;
  background-color: burlywood;
  text-align: center;
}
